body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
 
  font-family: 'Montserrat';

}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
  background-color: white;


}


#mainNav_val {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
  background-color: white;

}

#mainNav .navbar-brand {
  color: #008000;
  font-size:45em;
   text-shadow: 2px 2px 8px #e6ffe6;

}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #18BC9C;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
 color:  #00cc99;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {

  color: #18BC9C;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

#log 
{
  background-color: #006666;
}

#valuer
{
  background-color:  #004d99;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #18BC9C;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #18BC9C;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

.head1
{
  background-color:#99ff99;
  background-image: url("../img/land4.jpg");
  height:100%;
  background-size: cover;

}

.head2
{
  background-color:#99ff99;
  background-image: url("../img/land3.jpg");
  height:100%;
  background-size: cover;

}
.head3
{
  background-color:#99ff99;
  height:660px;
  background-size: cover;

}

header.masthead 
{
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}


#contacthead
{

  padding-top: 20px;
}

.whyTick {
  margin-bottom: -15px;
}



#why
{
  padding-top: 20px;
  text-align:center;
  font-size: 1.3em;

}


#steps
{
  padding-top: 30px;
  text-align:center;
  font-size: 1.2em;

}

.containerReg
{
  position: relative;
  z-index: 1000;
  background-color: #fff;
  background: linear-gradient(#fff, yellow);
  margin-right: 200px;
  margin-left: 200px;
}




.containmain1
{
   float:left;
   margin-left: 20%;

}


.containmain2
{
   float:right;
   margin-right:20%;
}

#contain
{
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}




.containerLog
{
  position: relative;
  z-index: 1000;
  background-color: #fff;
  background: linear-gradient(#fff, yellow);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

@media (min-width: 576px) {
  .whyTick {
    margin-bottom: -30px;
  }
  
}

#form1{
  padding:30px;
  margin-top:60px;
  border:2px solid #3498db;
  background-color:#F0F8FF;
  border-radius:15px;
  display:none;

}

.selected
{
  width:10%;
}

#form2{

  margin-top:60px;
  padding:10px;
  border:2px solid #3498db;
  background:#F0F8FF;
  border-radius:15px;
  display:none;

}

#formButton{
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:20px;
 
}

#formButton2{
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:20px;
 
}


.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #18BC9C;
}

a:focus, a:hover, a:active {
  color: #128f76;
}

.btn {
  border-width: 1px;
}

.bg-primary {
  background-color: #18BC9C !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}


#valuer-home
{
 background-color: #fff;

}



div .head4
{
  margin-right: 10%;
  margin-left: 10%;
  width:80%;
  height:auto;

}

#seeAppointments
{
    float: left;
    width: 25%;
    height: 70%;
    background-color: red;
    margin-right: 7.5%;
     margin-left: 5%;  
     padding-top: 1%;
}

#seeSchedule
{
    float: left;
    width: 25%;
     height:70%;
     background-color: blue;
     margin-right: 7.5%;
      padding-top: 1%;

}


#seeValuations
{
   float: left;
  width: 25%;
   height: 70%;
   background-color: yellow;
  margin-right: 5%;
   padding-top: 1%;
}

.head5
{

   background-color:  #80aaff;

}


#surveyLabel
{
  color:black;
  font-family: 'Montserrat';
  font-size: 1.0rem;
  width:auto;
}

